<!DOCTYPE html>
<html>
  <head>
    <title>HealthSmartCity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Google MAPS API -->
   <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nPH6fHf4j-Dmt_e9Z-5cvlJEvVDi6Ss" %>
  </head>

  <body>
    <div class="navbar navbar-inverse">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li> <%= link_to "Home", root_path %></li>
            <li> <%= link_to "Dashboard", dashboard_path %></li>
          </ul>
        </nav>
    </div>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
