<!DOCTYPE html>
<html>
  <head>
    <title>HealthSmartCity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Google MAPS API -->
   <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC3nPH6fHf4j-Dmt_e9Z-5cvlJEvVDi6Ss" %>
  </head>

  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <nav>
            <ul class="nav navbar-nav navbar-left">
              <li class='nav-item <%= 'active' if controller_name == 'health_centres'  %>  '> <%= link_to "Home", root_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'health_centre_filter'  %>' > <%= link_to "Estabelecimentos", health_centre_filter_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'dashboard'  %>'> <%= link_to "Métricas", dashboard_path, class: 'nav-link' %></li>
              <li class='nav-item <%= 'active' if controller_name == 'specialties'  %>'> <%= link_to "Specialties", specialties_path, class: 'nav-link' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class='nav-item'><a href='#' class='nav-link glyphicon glyphicon-question-sign' data-toggle="modal" onclick="update_chart()" data-target="#help-modal"></a></li>
            </ul>
          </nav>
      </div>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
